@font-face{
	font-family:'ubuntu';
	font-style:normal;
	font-weight:400;
	src:url(fonts/Ubuntu-R.eot) format('eot'); /* IE9 호환성 보기 모드 */
	src:url(fonts/Ubuntu-R.eot?#iefix) format("embedded-opentype"), /* IE6 ~ IE8 */
			url(fonts/Ubuntu-R.woff) format("woff"), /* Modern Browser */
			url(fonts/Ubuntu-R.ttf) format('truetype'); /* Safari, Android, Ios */
}

@font-face{
	font-family:'ubuntu';
	font-style:normal;
	font-weight:700;
	src:url(fonts/Ubuntu-M.eot) format('eot'); /* IE9 호환성 보기 모드 */
	src:url(fonts/Ubuntu-M.eot?#iefix) format("embedded-opentype"), /* IE6 ~ IE8 */
			url(fonts/Ubuntu-M.woff) format("woff"), /* Modern Browser */
			url(fonts/Ubuntu-M.ttf) format('truetype'); /* Safari, Android, Ios */
}

@font-face{
	font-family:'ubuntu';
	font-style:normal;
	font-weight:800;
	src:url(fonts/Ubuntu-B.eot) format('eot'); /* IE9 호환성 보기 모드 */
	src:url(fonts/Ubuntu-B.eot?#iefix) format("embedded-opentype"), /* IE6 ~ IE8 */
			url(fonts/Ubuntu-B.woff) format("woff"), /* Modern Browser */
			url(fonts/Ubuntu-B.ttf) format('truetype'); /* Safari, Android, Ios */
}