/* table basic */
table.basic {border-collapse:collapse; width:100%; border-bottom:1px solid #ddd; border-right:1px solid #ddd;}
table.basic th {padding:16px 15px 17px 15px; text-align:left; border-left:1px solid #ddd;border-top:1px solid #242424;}
table.basic td {padding:11px 15px 11px 15px; border-top:1px solid #ddd; border-left:1px solid #ddd; line-height:1.6;}
table.basic td a{text-decoration:underline; color:#ff743d;}
table.basic tbody tr:nth-child(odd) {background-color:#f9f9f9;}
table.basic tbody tr:hover {background-color:#ffe8df;}

/* general table */
table.general{width:100%;}
table.general th{text-align:right; padding:10px 15px;}
table.general td{text-align:left; padding:10px 100px 10px 15px;}


/* alarm grade */
span.alarm_cri { display: inline-block; width: 80px; color: #fff; text-align: center; border: 1px solid #000; background-color: #fd0c00; }
span.alarm_maj { display: inline-block; width: 80px; color: #fff; text-align: center; border: 1px solid #000; background-color: #fea400; }
span.alarm_min { display: inline-block; width: 80px; color: #6627ff; text-align: center; border: 1px solid #000; background-color: #fffd00; }
span.alarm_warn { display: inline-block; width: 80px; color: #6627ff; text-align: center; border: 1px solid #000; background-color: #666; }
span.alarm_info { display: inline-block; width: 80px; color: #6627ff; text-align: center; border: 1px solid #000; background-color: #999; }
span.alarm_nor { display: inline-block; width: 80px; color: #5c3feb; text-align: center; border: 1px solid #000; background-color: #44c89d; }

/* task status */
span.task_complete { display: inline-block; width: 80px; color: #5c3feb; text-align: center; border: 1px solid #000; background-color: #44c89d; }
span.task_process { display: inline-block; width: 80px; color: #6627ff; text-align: center; border: 1px solid #000; background-color: #fffd00; }
span.task_error { display: inline-block; width: 80px; color: #fff; text-align: center; border: 1px solid #000; background-color: #fd0c00; }
